.ui-dialog.announce-dialog .announce-titlebar .ui-dialog-title {
  max-width: unset;
  padding-left: 6px;
  background: none;
}

.ui-dialog.announce-dialog .announce-titlebar .ui-dialog-title::before {
  content: none;
}

#drupal-off-canvas .announcement--featured {
  position: relative;
  margin: 0 -20px;
  padding: 0 20px 20px;
  border-bottom: 1px solid #fff;
}

.announce-dialog #drupal-off-canvas .announcement--featured .announcement__title {
  width: calc(100% - 15px);
}

.announce-dialog #drupal-off-canvas .announcement--featured .announcement__title {
  font-size: 1rem;
}

.announce-dialog #drupal-off-canvas .announcement__teaser,
.announce-dialog #drupal-off-canvas .announcement__date,
.announce-dialog #drupal-off-canvas .announcement__link,
.announce-dialog #drupal-off-canvas .announcement--standard .announcement__title a {
  font-size: 0.875rem;
}

.announce-dialog #drupal-off-canvas .announcement--standard {
  position: relative;
  margin: 0 -20px 0;
  padding: 10px 20px 10px;
}

.announce-dialog #drupal-off-canvas .announcement__new {
  position: absolute;
  right: 20px;
  color: red;
}

.announce-dialog #drupal-off-canvas .no_alerts {
  margin-top: 20px;
}
