.announce-default::before,
.announce-canvas-link::before {
  background-image: url("../images/announcement-bell.svg");
}

.toolbar .toolbar-bar .announce-toolbar-tab.toolbar-tab a.toolbar-icon.toolbar-icon-announce {
  position: relative;
}

.toolbar .toolbar-bar .announce-toolbar-tab.toolbar-tab a.toolbar-icon-announce.announce-new:after {
  position: absolute;
  top: 10px;
  left: 18px;
  display: block;
  width: 4px;
  height: 4px;
  content: "";
  border: 3px solid #d72222;
  border-radius: 20px;
  background: #fff;
}

@media all and (max-width: 560px) {
  .toolbar .toolbar-bar .announce-toolbar-tab.toolbar-tab a.toolbar-icon-announce.announce-new:after {
    top: 9px;
    left: 25px;
  }
}

/* Tab appearance. */
.toolbar .toolbar-bar .announce-toolbar-tab.toolbar-tab {
  float: right; /* LTR */
}
[dir="rtl"] .toolbar .toolbar-bar .announce-toolbar-tab.toolbar-tab {
  float: left;
}
