{#
/**
 * @file
 * Template file for the theming of announcement_feed admin page.
 *
 * This template will get rendered when the user gets navigated to the announcements_feed.announcement route.
 *
 *
 * Available variables:
 * - count: Contains the total number of announcements.
 * - featured: A list of featured announcements. Each item contains:
 *   - id: Unique id of the announcement.
 *   - title: Title of the featured announcement.
 *   - teaser: Short description of the announcement.
 *   - link: Learn more link of the featured announcement.
 *   - new: Tells if it's an unread announcement or not.
 * - standard: A list of non-featured announcements. Each item contains:
 *   - id: Unique id of the announcement.
 *   - title: Title of the standard announcement.
 *   - teaser: Short description of the announcement.
 *   - timestamp: Timestamp of the announcement.
 *   - link: Learn more link of the standard announcement.
 *   - new: Tells if it's an unread announcement or not.
 *
 * @see announcements_feed_theme()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('announcements_feed/drupal.announcements_feed.page') }}

{% if count %}
  <div class="announcements">
    {% for announcement in featured %}
      <div class="announcement announcement--featured" data-drupal-featured>
        <div class="close-bar">
          <button type="button" class="announcement__featured-close" data-drupal-featured-close>close</button>
        </div>
        <div class="announcement__title">
          <h4>{{ announcement.title }}</h4>
        </div>
        <div class="announcement__teaser">
          {{ announcement.teaser }}
        </div>
        {% if announcement.new %}
          <div class="announcement__unread-status"></div>
        {% endif %}
        <div class="announcement__link">
          {% if announcement.link %}
            <a href="{{ announcement.link }}">{{ 'Learn More'|t }}</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    {% for announcement in standard %}
      <div class="announcement announcement--standard">
        <div class="announcement__title">
          <a href="{{ announcement.link }}">{{ announcement.title }}</a>
          {% if announcement.new %}
            <div class="announcement__unread-status"></div>
          {% endif %}
          <div class="announcement__date">{{ announcement.timestamp | format_date('short') }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <div class="announcements announcements--empty"><p> {{ 'No announcements available'|t }}</p></div>
{% endif %}
